<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DayTortas</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/galeria.css">
    <link rel="stylesheet" href="./css/formulario.css">
</head>

<body>
    <header id="header">
        <div id="nav-header">
            <a href="/login">🍚</a>
            <label for="menu" class="menu_hamburguesa" id="hamburguesa"><img src="../assets/img/hamburguesa.png"
                    width="25px" height="15px"></label>
            <div class="escritorio">
                <a href="/home">Home</a>
                <a href="/formulario">Decoraciones && Tortas</a>
                <a href="/galeria">Galeria</a>
                <a href="/nosotros">Sobre Nosotros</a>
            </div>
        </div>

        <input type="checkbox" id="menu">
        <nav class="movile">
            <a href="/home">Home</a>
            <a href="/formulario">Decoraciones && Tortas</a>
            <a href="/galeria">Galeria</a>
            <a href="/nosotros">Sobre Nosotros</a>
        </nav>
    </header>

    {{{body}}}
    <!-- </body> -->
    <footer>
        <div class="footer">

            <ul>
                <li class="nosotrosM">
                    <h3>Nosotros</h3>
                    <ul class="nosotros">
                        <li><a href="">Quienes somos?</a></li>
                        <li><a href="#">Servicio que ofrecemos</a></li>
                    </ul>
                </li>
                <li class="pagosM">
                    <h3>Metodos de pago</h3>
                    <ul class="pagos">
                        <!-- <li><a href="#"><img src="./assets/img/Mercado.png" alt=""></a></li>
                        <li><a href="#"><img src="./assets/img/pesos.png" alt=""></a></li>
                        <li><a href="#"><img src="./assets/img/tarjetas.png" alt=""></a></li> -->
                    </ul>
                </li>
            </ul>
        </div>
        <div class="linea"></div>
        <div class="redes">
            <a href="#">F</a>
            <a href="#">T</a>
            <a href="#">W</a>
        </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script src="../js/galeria.js"></script>
    <script src="carrousel.js"></script>

</body>

</html>