<main>
    <div class="textoForm">
        <h1>Presupuesto</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus at iste quia eligendi a quidem unde
            aspernatur placeat mollitia quam amet vero, saepe doloremque ad sint modi neque temporibus ab!</p>
    </div>
    <section class="contenedorForm ">
        <form action="" class="formulario">
            <h2>Formulario de presupuesto</h2>
            <div class="formulario">
                <div class="contactos">
                    <label for="name">Nombre: <input type="text" placeholder="Daiana"></label>
                    <label for="number">Telefono: <input type="number" placeholder="1188556644"></label>
                </div>
                <label for="slc">Eventos
                    <select name="slc" id="slc">
                        <option value="selecciona">--Seleccione el evento--</option>
                        <option value="infantiles">Fiestas Infantiles</option>
                        <option value="cumple">Fiestas de cumpleaños</option>
                        <option value="misQuince">Fiestas de 15 años</option>
                        <option value="mis18">Fiestas de 18 años</option>
                        <option value="babyShawer">Baby Shawer</option>
                        <option value="casamiento">Casamiento</option>
                    </select></label>
                <label for="">Torta<input type="checkbox" id="validar" class="caja">
                    <select name="slc" id="slc">
                        <option value="selecciona">--Seleccione cantidad de tortas--</option>
                        <option value="torta1">1</option>
                        <option value="torta2">2</option>
                        <option value="torta3">3</option>
                        <option value="torta4">4</option>
                        <option value="torta5">5</option>
                    </select></label>
                <label for="tematica">con tematica<input type="checkbox" class="caja"><input type="text"
                        placeholder="Dragon ball z, Los simpson..."></label>
                <label for="decoracion">Decoracion<input type="checkbox" id="decoracion" class="caja"></label>
            </div>
        </form>
    </section>
    <h3>Recuerde reservar con <span>48 hs</span> de anticipacion para tortas </h3>
    <h3>Decoracion de eventos solo con reservacion anticipativa para preparativos y presupuestos</h3>
</main>