    <main>
        <section class="section section-home contenedor">
            <div class="hero">
                <h1><span>Decoraciones</span> <span>&&</span> <span>Tortas</span></h1>
            </div>
        </section>
        <section>
            <article class="contenedor">
                <h2>Variedad de Tortas</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic aspernatur sed, similique maiores fuga qui provident quibusdam facilis mollitia nihil inventore est? Unde porro repudiandae nihil aut molestiae odit ut.
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas animi, dolores architecto soluta sequi error omnis praesentium repudiandae, numquam eligendi iure cum magnam placeat cumque eum, quod voluptates officiis quo!
                </p>
                <div>
                    <div class="galeria">
                        <div><img src="../assets/img/IMAGENES/18años2.jpg" alt=""></div>
                        <div><img src="../assets/img/IMAGENES/1año.jpg" alt=""></div>
                        <div><img src="../assets/img/IMAGENES/baby.jpg" alt=""></div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <article class="contenedor">
                <h2>Decoracion Eventos && Fiestas de cumpleaños</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis, optio illum est expedita, fugit tenetur eligendi iusto itaque nobis cum dolor laborum officiis voluptates minima suscipit aliquam debitis omnis magnam?
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia provident quia consectetur error sit? Aspernatur odit fugiat minima sapiente, illum magni sit quae similique debitis eveniet in labore provident nesciunt.
                </p>
                <div class="galeria">
                    <div><img src="../assets/img/IMAGENES/18años2.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/1año.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/baby.jpg" alt=""></div>
                </div>
            </article>
        </section>
        <section>
            <article class="contenedor">
                <h2>Decoracion con tematicas</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste rem, aliquam expedita molestiae nulla iure soluta libero ea veniam quibusdam ipsam labore cum eligendi hic reprehenderit distinctio asperiores quas temporibus?
                </p>
                <div class="galeria">
                    <div><img src="../assets/img/IMAGENES/18años2.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/1año.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/baby.jpg" alt=""></div>
                </div>
            </article>
        </section>
        <section>
            <article class="contenedor">
                <h2>Baby Shawer</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, at, similique soluta tempora fugiat odio fuga hic, tempore earum quia ipsam sapiente fugit libero! Dolorem ipsam dignissimos aspernatur nobis eveniet!</p>
                <div class="galeria">
                    <div><img src="../assets/img/IMAGENES/18años2.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/1año.jpg" alt=""></div>
                    <div><img src="../assets/img/IMAGENES/baby.jpg" alt=""></div>
                </div>
            </article>
        </section>



    </main>